* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: 2px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

h2 {
  text-transform: uppercase;
  margin: 0;
}

h3 {
  text-transform: uppercase;
}

.maincolor {
  color: #16a085;
}

.btn {
  background-color: #16a085;
  text-transform: uppercase;
  border: none;
  color: #fff;
  border-radius: 6px;
  width: 150px;
  height: 50px;
  transition: .5s;
  font-weight: bold;
  outline: transparent;
  cursor: pointer;
}

.btn:hover {
  border: double 4px #16a085;
  background-color: transparent;
  color: #16a085;
}

#home {
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
}

#home .container nav .mobile-menu {
  display: none;
}

#home .container nav ul {
  padding-top: 30px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#home .container nav ul li {
  list-style-type: none;
  text-transform: uppercase;
  padding: 10px 50px;
}

#home .container nav ul li a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  transition: .5s;
}

#home .container nav ul li a:hover {
  color: #16a085;
}

#home .header-content {
  height: 400px;
  color: #fff;
}

#home .header-content h1 {
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
}

#home .header-content p {
  font-size: 16px;
}

#home .social {
  margin: 0 auto;
  text-align: center;
}

#home .social .social-btn {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 2px solid transparent;
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
  padding: 10px;
}

#home .social .social-btn .fa-twitter {
  transition: .5s;
}

#home .social .social-btn .fa-twitter:hover {
  color: #00aced;
}

#home .social .social-btn .fa-flickr {
  transition: .5s;
}

#home .social .social-btn .fa-flickr:hover {
  color: #0063dc;
}

#home .social .social-btn .fa-dribbble {
  transition: .5s;
}

#home .social .social-btn .fa-dribbble:hover {
  color: #ea4c89;
}

#photoapp {
  height: 500px;
  background-color: #f5f6f7;
  overflow: hidden;
}

#photoapp .container {
  position: relative;
}

#photoapp .container .left {
  display: flex;
  flex-direction: column;
  padding: 100px 0 100px 0;
  width: 40%;
  margin: 0 20px;
}

#photoapp .container .left p {
  padding: 50px 0 50px;
  line-height: 1.7;
}

#photoapp .container .right {
  position: absolute;
  right: 150px;
  top: 100px;
  overflow: hidden;
}

#design {
  height: 500px;
  overflow: hidden;
}

#design .container {
  padding: 20px;
}

#design .container .row .phonepic {
  padding-top: 70px;
}

#design .container .row .swiper-container {
  margin-top: 50px;
  max-width: 400px;
  max-height: 400px;
}

#design .container .row .swiper-container .swiper-wrapper {
  padding: 50px;
}

#design .container .row .swiper-container .swiper-wrapper .swiper-slide p {
  padding-right: 100px;
  line-height: 1.2;
}

#community {
  padding: 30px 0;
}

#community .container .about {
  margin-left: 100px;
}

#community .container .about p {
  text-align: center;
}

#community .container .swiper-container {
  max-width: 500px;
  height: 250px;
}

#community .container .swiper-container .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#subscription {
  background-image: url("../images/background2.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 700px;
}

#subscription .center {
  height: 700px;
}

#subscription .center h2 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 30px;
}

#subscription .center .inputs {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

#subscription .center .inputs .email {
  height: 45px;
  line-height: 1;
  border: none;
  font-size: 16px;
  color: #373737;
  outline: none;
  padding: 10px;
}

#subscription .center .inputs .submit {
  background-color: #16a085;
  color: #fff;
  margin: 0;
  padding: 0 15px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: .5s;
  outline: transparent;
}

#subscription .center .inputs .submit:hover {
  font-size: 30px;
}

#download {
  background-color: #f5f6f7;
  text-align: center;
  height: 500px;
  margin: 0 auto;
}

#download .center {
  height: 500px;
}

#download .center p {
  width: 60%;
  margin: 10px auto;
}

#download .center .row {
  justify-content: center;
}

#download .center .row .downloadBtn {
  position: relative;
  width: 170px;
  background-color: #1abc9c;
  height: 40px;
  cursor: pointer;
  border: none;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  margin: 20px;
  border-radius: 7px;
  transition: .7s;
  outline: transparent;
}

#download .center .row .downloadBtn:hover {
  background-color: #16a085;
}

#download .center .row .downloadBtn .fab {
  background-color: #16a085;
  padding: 12px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 7px 7px 0;
  font-size: 16px;
}

footer {
  padding: 20px 0 20px 0;
}

footer .container .row {
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}

footer .container .row .info {
  font-weight: bold;
  font-size: 14px;
}

footer .container .row .info ul {
  padding: 0;
}

footer .container .row .info ul li {
  list-stye-type: none;
  display: inline-block;
  text-transform: uppercase;
}

footer .container .row .info ul li a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #fff;
  transition: .5s;
}

footer .container .row .info ul li a:hover {
  border-bottom: 2px solid #1abc9c;
}

footer .container .row .info ul .line {
  padding-right: 3px;
  border-right: 2px solid #16a085;
}

footer .container .row .logoFooter {
  padding-right: 100px;
}

footer #scrollTop button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: #16a085;
  transform: .5s;
  color: white;
  border: none;
  padding: 5px 8px;
  font-size: 20px;
  border-radius: 3px;
}

footer #scrollTop button:hover {
  background-color: #1abc9c;
}

@media (max-width: 1000px) {
  #home .container nav .mobile-menu {
    position: relative;
    display: block;
  }
  #home .container nav .mobile-menu label {
    position: absolute;
    top: 50%;
    left: 15px;
    display: inline-block;
    cursor: pointer;
    color: white;
    line-height: 70px;
    transition: 0.6s;
  }
  #home .container nav .mobile-menu input {
    display: none;
  }
  #home .container nav .mobile-menu input:checked + ul {
    display: block;
  }
  #home .container nav ul {
    display: none;
  }
  #home .container nav ul li {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 1;
  }
  #home .container .header-content h1 {
    text-align: center;
  }
}

@media (max-width: 991px) {
  #photoapp .container .left {
    width: 100%;
    text-align: center;
  }
  #photoapp .container .left .btn {
    margin: 0 auto;
  }
  #photoapp .container .right {
    display: none;
  }
}

@media (max-width: 768px) {
  #design .container .row .phonepic {
    display: none;
  }
  #community {
    padding: 20px;
  }
  #community .container .row {
    flex-direction: column;
  }
  #community .container .row .about {
    margin: 0 auto;
    text-align: center;
  }
  #subscription .center h2 {
    text-align: center;
  }
}

@media (max-width: 480px) {
  #home {
    height: 100vh;
  }
  #home .header-content {
    max-height: 80vh;
  }
  #photoapp {
    height: 700px;
  }
  footer .info {
    text-align: center;
    margin: 0 auto;
  }
  footer .logoFooter {
    padding-left: 30px;
    padding-top: 10px;
  }
}

@media (max-width: 400px) {
  #design .container .row .swiper-container {
    height: 400px;
  }
  #community {
    padding: 0;
  }
}

@media (max-width: 350px) {
  #community .container .row .swiper-container .swiper-wrapper .swiper-slide {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */