
* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
}
$white: #fff;
$graybackground: #f5f6f7;
$maincolor: #16a085;
$graycolor: #373737;

.container {
	width: 1200px;
	margin: 0 auto;
}

.row {
	display: flex;
}
.wrap {
	flex-wrap: wrap;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h2 {
	text-transform: uppercase;
	margin: 0;
}

h3 {
	text-transform: uppercase;
}

.maincolor {
	color: $maincolor;
}

.btn {
	background-color: $maincolor;
	text-transform: uppercase;
	border: none;
	color: $white;
	border-radius: 10px;
	width: 150px;
	height: 50px;
}
#home {
	background-image: url('../images/background.jpg');
	background-attachment: fixed;
	background-size: cover;
	height: 600px;
	.container {
		nav {
			ul {
				padding-top: 30px;
				padding-left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 auto;
					li {
						list-style-type: none;
						text-transform: uppercase;
						padding: 10px 50px;
						
						a {
							
							text-decoration: none;
							color: $white;
						}
					}
				}
			}
		}
		.header-content {
			height: 400px;
			color: $white;
			h1 {
				font-size: 36px;
				text-transform: uppercase;
				margin: 0;
			}
			p {
				font-size: 16px;
			}
		}
		.social{
			margin: 0 auto;
			text-align: center;
			button {
				border-radius: 50%;
				background-color: rgba(0,0,0,0);
				color: $white;
				border: none;
				font-size: 30px;
				padding: 20px;
				cursor: pointer;
			}
		}
	}

#photoapp {
	height: 500px;
	background-color: $graybackground;
	overflow: hidden;
	
	.container {
		position: relative;
		.left {
			display: flex;
			flex-direction: column;
			padding: 100px 0 100px 0;
			width: 40%;
			p {
				padding: 50px 0 50px;
				line-height: 1.7;
			}
			button {
			}
		}
		.right {
			position: absolute;
			right: 150px;
			top: 100px;
			overflow: hidden;
			img {
			}
		}
	}
}

#design {
	height: 500px;
	overflow: hidden;
	.container {
		padding: 20px;
		.row {
			.phonepic{
				padding-top: 70px;
			}
			.swiper-container{
				margin-top: 50px;
			    width: 400px;
			    height: 300px;
			    .swiper-wrapper {
			    	padding: 50px;
			    	.swiper-slide {
						
			    		p {
			    			padding-right: 100px;
			    			line-height: 1.2;
			    		}
			    	}
			    }
			}
		}
	}
}

#community {
	.container {
		.about {
			margin: 0 100px;
			p {
				text-align: center;
			}
		}
		.swiper-container {
			width: 500px;
			height: 250px;
			.swiper-slide {
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

#subscription {
	background-image: url('../images/background2.jpg');
	background-attachment: fixed;
	background-size: cover;
	height: 700px;
	.center {
		height: 700px;
		h2 {
			font-size: 36px;
			color: $white;
			margin-bottom: 30px;
		}
		.inputs {
			display: flex;
			border-radius: 5px;
			overflow: hidden;
			.email {
				height: 45px;
				line-height:1;
				border: none;
				font-size: 16px;
				color: $graycolor;
				outline: none;
				padding: 10px;
			}
			.submit {
				background-color: $maincolor;
				color: $white;
				margin: 0;
				padding: 0 15px;
				border: none;
				font-size: 20px;
			}
		}
	}
}

#download {
	background-color: $graybackground;
	text-align: center;
	.row {

	}
}

footer {
	padding: 20px 0 20px 0;
	.container {

		.row {
			justify-content: space-between;
			align-items: center;
			.info {
				ul {
					padding: 0;
					li {
						list-stye-type: none;
						display: inline-block;
						text-transform: uppercase;
					}
				}
			}
			.logoFooter {
				padding-right: 100px;
			}
		}
	}
}